<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>albums</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-snapx-photography.css">
    <link rel="stylesheet" href="assets/css/owl.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link rel="stylesheet" href="/album.css">
   
</head>
    
<body>
   
    <nav  >
        <div class='logo_box' ><img src="/logo.png" alt=""> <strong>SENSEI</strong></div>
        <div class='searchbar'>
          
            <i class="uil uil-search"></i>
            <input type="text" placeholder='search'/></div>
        
          </nav>
          <div class="page-heading">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 offset-lg-2 header-text">
                  <h2>Discover Most Popular Categories on <em>Sensei</em></h2>
                  <p>view the best out of me</p>
                </div>
              </div>
            </div>
          </div>
          <div class="top-categories">
            <div class="container">
              <div class="row">
                <% albums.slice(0,5).forEach((album,i) => { %>
                    <div class="col-lg col-sm-4">
                        <div class="item">
                          <div class="icon">
                            <img src="assets/images/icon-0<%= i+1  %>.png" alt="">
                          </div>
                          <h4><%= album.title  %></h4>
                          <span>Available Images</span>
                          <span class="counter"><%= album.photos.length %></span>
                        </div>
                      </div>
                <% }) %>
                
              </div>
            </div>
          </div>
          <section class="featured-contests">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="section-heading text-center">
                    <h6>Featured Albums</h6>
                    <h4>View Most <em>Popular</em> Category <em>Albums</em></h4>
                  </div>
                </div>
                <% albums.forEach(album => { %>
                    <div class="col-lg-4">
                        <div class="item">
                          <div class="thumb">
                            <img src="assets/images/featured-image-03.jpg" alt="" class="albumcover" data-album-id="<%= album._id  %>">
                            <div class="hover-effect">
                              <div class="content">
                                <div class="top-content">
                                  <span class="award">Count</span>
                                  <span class="price"><%= album.photos.length %></span>
                                </div>
                                <h4><%= album.title  %></h4>
                                <div class="info">
                                  <span class="participants"><img src="assets//images/icon-03.png" alt=""><br>112<br>Participants</span>
                                  <span class="submittions"><img src="assets//images/icon-01.png" alt=""><br>286<br>Submissions</span>
                                </div>
                                <div class="border-button">
                                  <a href="/view/<%= album.title  %>">Browse <%= album.title  %> Photos</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                <% }) %>
                
              </div>
            </div>
          </section>
          <section class="container-slides">
            <div class="box-slides">
                <% imgs.forEach((element, index) => { %>
                    <div class="slide">
                      
                        <img src=<%= element.url %> alt="">
                        <div class="overlay"></div>
                        <div class="overlay-text"><%= quote[index].q %></div>
    
                    </div>
                   <% }) %>
            </div>

          </section>
          <!-- <section class="container-albums">
              <div class="box-albums">
                <h2>Albums <i class="uil uil-scenery"></i></h2>
                
                <% albums.forEach(element => { %>
                    <div class="box-album" data-album-id="<%= element._id %>">
                        <h3><%= element.title %></h3>
                        
                    </div>
                <% }) %>
            </div>
          </section> -->
          <script>
            document.addEventListener('DOMContentLoaded', () => {
                // Fetch images and dynamically add them to the corresponding box-album elements
                const boxAlbums = document.querySelectorAll('.albumcover');
        
                boxAlbums.forEach(boxAlbum => {
                    const albumId = boxAlbum.getAttribute('data-album-id');
                    fetch(`/getAlbumById/${albumId}`)
                        .then(response => response.json())
                        .then(image => {
                            
                                boxAlbum.src=image.url
                            
                        })
                        .catch(error => console.error('Error fetching images:', error));
                });
            });
        </script>
</body>
</html>